Repository dmulyalin/picle: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, bandit, pylint

.pre-commit-config.yaml:

# to run pre-commit on demand using below configuration:
# pre-commit run --all-files

default_language_version:
    python: python3.9

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-ast
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ['--maxkb=1000']
  # black
  - repo: local
    hooks:
      - id: black
        name: black
        exclude: ^docs/|gitignore|LICENSE|pre-commit-config|pylintrc|.*\.png$|.*\.md$|.*\.toml$|poetry.lock|\.github/.|^site/|^.vscode/|.*\.yml$|.*\.yaml$
        entry: black picle
        language: system
        args:
          - "--line-length=88"
  # flake8
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: flake8
        exclude: ^test/|^docs/|gitignore|LICENSE|pre-commit-config|pylintrc|.*\.png$|.*\.md$|.*\.toml$|poetry.lock|\.github/.|^site/|^.vscode/|.*\.yml$|.*\.yaml$
        args:
          - "--max-line-length=88"
          - "--max-complexity=19"
          - "--select=B,C,E,F,W,T4,B9"
          - "--ignore=F403,E402,E722,E203,W503,C901,E501"
  # bandit security checks
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        language: system
        entry: bandit
        exclude: ^test/|^docs/|gitignore|LICENSE|pre-commit-config|pylintrc|.*\.png$|.*\.md$|.*\.toml$|poetry.lock|\.github/.|^site/|^.vscode/|.*\.yml$|.*\.yaml$
  # pylint, to run it directly use: python -m pylint . 
  # enabled only spelling checks for docstrings
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        entry: pylint .
        exclude: ^test/|^docs/|gitignore|LICENSE|pre-commit-config|pylintrc|.*\.png$|.*\.md$|.*\.toml$|poetry.lock|\.github/.|^site/|^.vscode/|.*\.yml$|.*\.yaml$

Deployed 6328856 with MkDocs version: 1.6.1
  404.html
  Getting Started/index.html
  api_reference/index.html
  assets/_mkdocstrings.css
  assets/javascripts/bundle.2b46852b.min.js
  assets/javascripts/bundle.2b46852b.min.js.map
  assets/javascripts/bundle.88dd0f4e.min.js
  assets/javascripts/bundle.88dd0f4e.min.js.map
  assets/javascripts/lunr/min/lunr.ar.min.js
  assets/javascripts/lunr/min/lunr.el.min.js
  assets/javascripts/lunr/min/lunr.he.min.js
  assets/javascripts/lunr/min/lunr.hy.min.js
  assets/javascripts/lunr/min/lunr.kn.min.js
  assets/javascripts/lunr/min/lunr.ko.min.js
  assets/javascripts/lunr/min/lunr.sa.min.js
  assets/javascripts/lunr/min/lunr.ta.min.js
  assets/javascripts/lunr/min/lunr.te.min.js
  assets/javascripts/lunr/min/lunr.zh.min.js
  assets/javascripts/lunr/wordcut.js
  assets/javascripts/workers/search.6ce7567c.min.js
  assets/javascripts/workers/search.6ce7567c.min.js.map
  assets/javascripts/workers/search.709b4209.min.js
  assets/javascripts/workers/search.709b4209.min.js.map
  assets/stylesheets/main.1118c9be.min.css
  assets/stylesheets/main.1118c9be.min.css.map
  assets/stylesheets/main.6f8fc17f.min.css
  assets/stylesheets/main.6f8fc17f.min.css.map
  assets/stylesheets/palette.06af60db.min.css
  assets/stylesheets/palette.06af60db.min.css.map
  assets/stylesheets/palette.ba0d045b.min.css
  assets/stylesheets/palette.ba0d045b.min.css.map
  index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: black, flake8, bandit, pylint

bug fixes
  picle/models.py
  picle/picle.py
  pyproject.toml
  test/picle_test_shell.py
  test/test_picle.py
Due: black, flake8, bandit, pylint

fixing automcompletion by tab for model fields that has source method
  picle/picle.py
  pyproject.toml
Due: black, flake8, bandit, pylint

bump to 0.8.3
  picle/picle.py
  pyproject.toml
  test/picle_test_shell.py
  test/test_picle.py
Due: black, flake8, bandit, pylint

added rich markdown outputter model
  picle/models.py
Due: black, flake8, bandit, pylint

bump to 0.8.4
  pyproject.toml
Due: none

fixing rich table outputter key sorting
  picle/models.py
  pyproject.toml
Due: black, flake8, bandit, pylint

added nested outputter
  picle/models.py
  pyproject.toml
Due: black, flake8, bandit, pylint

fixed nested outputter
  picle/models.py
  pyproject.toml
  test/picle_test_shell.py
  test/test_picle.py
Due: black, flake8, bandit, pylint

fixing bug extracting utputter for tun function, adding outputter_rich_yaml outputter
  picle/models.py
  picle/picle.py
  pyproject.toml
  test/picle_test_shell.py
  test/test_picle.py
Due: black, flake8, bandit, pylint

adding man json-schema commad
  docs/Getting Started.md
  docs/api_reference.md
  docs/changelog.md
  mkdocs.yml
  picle/models.py
  picle/picle.py
  poetry.lock
  pyproject.toml
  test/1.txt
  test/docs_sample_app_1.py
  test/picle_test_shell.py
  test/test_picle.py
Due: black, flake8, bandit, pylint

adding absolute_indent argument to yaml outputter
  picle/models.py
Due: black, flake8, bandit, pylint

bump to 0.9.0
  pyproject.toml
Due: none

updating poetry lock file
  poetry.lock
Due: none

fixing outputter processing logic
  picle/models.py
  picle/picle.py
Due: black, flake8, bandit, pylint

fixing wrote method
  picle/picle.py
Due: black, flake8, bandit, pylint

adding nested tables support
  docs/changelog.md
  picle/models.py
  test/picle_test_shell.py
  test/test_picle.py
Due: black, flake8, bandit, pylint

bump to 0.9.1
  pyproject.toml
Due: none

bump to 0.9.2
  docs/changelog.md
  picle/picle.py
  poetry.lock
  pyproject.toml
  test/picle_test_shell.py
  test/test_picle.py
Due: black, flake8, bandit, pylint

bump to 0.9.3
  docs/changelog.md
  picle/models.py
  pyproject.toml
Due: black, flake8, bandit, pylint

fixing various bugs, typehints, docstrings, dependencies
  docs/changelog.md
  picle/__init__.py
  picle/cache.py
  picle/models.py
  picle/picle.py
  picle/utils.py
  poetry.lock
  pyproject.toml
  test/picle_test_shell.py
  test/test_picle.py
Due: black, flake8, bandit, pylint

bump to 0.10.10
  .coverage
  CLAUDE.md
  docs/Getting Started.md
  docs/api_reference.md
  docs/changelog.md
  docs/index.md
  picle/models.py
  picle/picle.py
  poetry.lock
  pyproject.toml
  site/404.html
  site/Getting Started/index.html
  site/api_reference/index.html
  site/assets/_mkdocstrings.css
  site/assets/javascripts/bundle.79ae519e.min.js
  site/assets/javascripts/bundle.79ae519e.min.js.map
  site/assets/javascripts/bundle.88dd0f4e.min.js
  site/assets/javascripts/bundle.88dd0f4e.min.js.map
  site/assets/javascripts/workers/search.2c215733.min.js
  site/assets/javascripts/workers/search.2c215733.min.js.map
  site/assets/javascripts/workers/search.6ce7567c.min.js
  site/assets/javascripts/workers/search.6ce7567c.min.js.map
  site/assets/stylesheets/main.484c7ddc.min.css
  site/assets/stylesheets/main.484c7ddc.min.css.map
  site/assets/stylesheets/main.6f8fc17f.min.css
  site/assets/stylesheets/main.6f8fc17f.min.css.map
  site/assets/stylesheets/palette.06af60db.min.css
  site/assets/stylesheets/palette.06af60db.min.css.map
  site/assets/stylesheets/palette.ab4e12ef.min.css
  site/assets/stylesheets/palette.ab4e12ef.min.css.map
  site/changelog/index.html
  site/objects.inv
  site/search/search_index.json
  site/sitemap.xml
  site/sitemap.xml.gz
  test/config_app_example.py
  test/picle_test_shell.py
  test/test_config_model.py
  test/test_picle.py
Due: black, flake8, bandit, pylint

Deployed 3d13ed0 with MkDocs version: 1.6.1
  404.html
  Getting Started/index.html
  api_reference/index.html
  assets/_mkdocstrings.css
  assets/javascripts/bundle.79ae519e.min.js
  assets/javascripts/bundle.79ae519e.min.js.map
  assets/javascripts/bundle.88dd0f4e.min.js
  assets/javascripts/bundle.88dd0f4e.min.js.map
  assets/javascripts/workers/search.2c215733.min.js
  assets/javascripts/workers/search.2c215733.min.js.map
  assets/javascripts/workers/search.6ce7567c.min.js
  assets/javascripts/workers/search.6ce7567c.min.js.map
  assets/stylesheets/main.484c7ddc.min.css
  assets/stylesheets/main.484c7ddc.min.css.map
  assets/stylesheets/main.6f8fc17f.min.css
  assets/stylesheets/main.6f8fc17f.min.css.map
  assets/stylesheets/palette.06af60db.min.css
  assets/stylesheets/palette.06af60db.min.css.map
  assets/stylesheets/palette.ab4e12ef.min.css
  assets/stylesheets/palette.ab4e12ef.min.css.map
  changelog/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: black, flake8, bandit, pylint

updating readme, adding github tests
  .github/FUNDING.yml
  .github/workflows/main.yml
  README.md
  docs/changelog.md
  site/Getting Started/index.html
  site/api_reference/index.html
  site/changelog/index.html
  site/search/search_index.json
Due: none

fixing tests
  test/test_config_model.py
Due: black

adding tests to readme
  README.md
Due: none

adding logo
  README.md
  docs/images/logo.jpg
  docs/images/logo_small.jpg
  mkdocs.yml
Due: none

Deployed 993e3aa with MkDocs version: 1.6.1
  404.html
  Getting Started/index.html
  api_reference/index.html
  changelog/index.html
  images/logo.jpg
  images/logo_small.jpg
  index.html
  search/search_index.json
Due: black, flake8, bandit, pylint

bump to 0.10.1
  docs/changelog.md
  picle/models.py
  picle/picle.py
  pyproject.toml
  site/404.html
  site/Getting Started/index.html
  site/api_reference/index.html
  site/changelog/index.html
  site/images/logo.jpg
  site/images/logo_small.jpg
  site/index.html
  site/search/search_index.json
Due: black, flake8, bandit, pylint

bump to 0.11.0
  .gitignore
  CLAUDE.md
  docs/api_reference.md
  docs/changelog.md
  docs/features/configuration_model.md
  docs/features/dynamic_dictionary_input.md
  docs/features/fields_presence.md
  docs/features/mounting_models_at_runtime.md
  docs/features/multiline_input.md
  docs/features/pipes.md
  docs/features/processors.md
  docs/features/result_specific_outputters.md
  mkdocs.yml
  picle/models.py
  picle/picle.py
  pyproject.toml
  test/config_app_example.py
  test/picle_test_shell.py
  test/test_config_model.py
  test/test_picle.py
Due: black, flake8, bandit, pylint

Deployed d957ac3 with MkDocs version: 1.6.1
  Getting Started/index.html
  api_reference/index.html
  changelog/index.html
  features/configuration_model/index.html
  features/dynamic_dictionary_input/index.html
  features/fields_presence/index.html
  features/mounting_models_at_runtime/index.html
  features/multiline_input/index.html
  features/pipes/index.html
  features/processors/index.html
  features/result_specific_outputters/index.html
  index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: black, flake8, bandit, pylint

enhancements to pipes
  docs/changelog.md
  picle/models.py
  picle/picle.py
  site/Getting Started/index.html
  site/api_reference/index.html
  site/changelog/index.html
  site/features/configuration_model/index.html
  site/features/dynamic_dictionary_input/index.html
  site/features/fields_presence/index.html
  site/features/mounting_models_at_runtime/index.html
  site/features/multiline_input/index.html
  site/features/pipes/index.html
  site/features/processors/index.html
  site/features/result_specific_outputters/index.html
  site/index.html
  site/objects.inv
  site/search/search_index.json
  site/sitemap.xml
  site/sitemap.xml.gz
  test/picle_test_shell.py
  test/test_picle.py
Due: black, flake8, bandit, pylint

bump to 0.11.1
  docs/changelog.md
  docs/features/configuration_model.md
  docs/features/dynamic_dictionary_input.md
  docs/features/pipes.md
  picle/models.py
  pyproject.toml
  test/app_config.yaml
  test/app_config.yaml.old1
  test/app_config.yaml.old2
  test/app_config.yaml.old3
  test/app_config.yaml.old4
  test/app_config.yaml.old5
  test/test_config_model.py
  test/test_picle.py
Due: black, flake8, bandit, pylint

Deployed 8b64f17 with MkDocs version: 1.6.1
  api_reference/index.html
  changelog/index.html
  features/configuration_model/index.html
  features/dynamic_dictionary_input/index.html
  features/pipes/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: black, flake8, bandit, pylint

nested outputter enhancements
  docs/changelog.md
  picle/models.py
  picle/picle.py
  site/api_reference/index.html
  site/changelog/index.html
  site/features/configuration_model/index.html
  site/features/dynamic_dictionary_input/index.html
  site/features/pipes/index.html
  site/objects.inv
  site/search/search_index.json
  site/sitemap.xml
  site/sitemap.xml.gz
  test/app_config.yaml
  test/app_config.yaml.old1
  test/app_config.yaml.old2
  test/app_config.yaml.old3
  test/app_config.yaml.old4
  test/app_config.yaml.old5
  test/picle_test_shell.py
  test/test_config_model.py
  test/test_picle.py
Due: black, flake8, bandit, pylint

bump to 0.11.2
  docs/Getting Started.md
  docs/changelog.md
  docs/features/command_discovery.md
  docs/features/configuration_model.md
  docs/features/field_aliases.md
  docs/features/filters_and_outputters.md
  docs/features/input_parsing.md
  docs/features/multiline_input.md
  docs/features/subshells_and_navigation.md
  mkdocs.yml
  picle/picle.py
  pyproject.toml
  test/picle_test_shell.py
  test/test_picle.py
Due: black, flake8, bandit, pylint

Deployed 26680da with MkDocs version: 1.6.1
  404.html
  Getting Started/index.html
  api_reference/index.html
  features/command_discovery/index.html
  features/configuration_model/index.html
  features/dynamic_dictionary_input/index.html
  features/field_aliases/index.html
  features/fields_presence/index.html
  features/filters_and_outputters/index.html
  features/input_parsing/index.html
  features/mounting_models_at_runtime/index.html
  features/multiline_input/index.html
  features/pipes/index.html
  features/processors/index.html
  features/result_specific_outputters/index.html
  features/subshells_and_navigation/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: black, flake8, bandit, pylint

docs changes
  docs/Getting Started.md
  site/404.html
  site/Getting Started/index.html
  site/api_reference/index.html
  site/features/command_discovery/index.html
  site/features/configuration_model/index.html
  site/features/dynamic_dictionary_input/index.html
  site/features/field_aliases/index.html
  site/features/fields_presence/index.html
  site/features/filters_and_outputters/index.html
  site/features/input_parsing/index.html
  site/features/mounting_models_at_runtime/index.html
  site/features/multiline_input/index.html
  site/features/pipes/index.html
  site/features/processors/index.html
  site/features/result_specific_outputters/index.html
  site/features/subshells_and_navigation/index.html
  site/index.html
  site/search/search_index.json
  site/sitemap.xml
  site/sitemap.xml.gz
Due: none

adding chat shell
  .gitignore
  docs/features/chat_interface.md
  mkdocs.yml
  picle/picle.py
  test/picle_test_shell.py
  test/test_picle.py
Due: black, flake8, bandit, pylint
